<ul>
<li id="1.1"><div>
<p><img src="./s_files/znak_1.1.png" alt="Знак 1.1" title="Железнодорожный переезд со шлагбаумом"><strong>1.1</strong></p>
</div><div>
<h2>1.1 "Железнодорожный переезд со шлагбаумом".
<p>Водителю ТС пересекать ж/д пути можно только по ж/д переездам, уступая дорогу поезду (локомотиву, дрезине).<br>
Знаки 1.1, 1.2 обязательно повторяются вне н. п., при этом второй знак устанавливается на расстоянии не менее 50 м (всего повторяется вне н. п. 6 знаков).</p>
<p>Запрещается:<br>
а) обгон на ж/д переездах и ближе, чем за 100 м перед ними;<br>
б) остановка и стоянка на ж/д переездах;<br>
в) стоянка ближе 50 м от ж/д переездов;<br>
г) разворот;<br>
д) движение задним ходом;<br>
е) провозить через переезд в нетранспортном положении сельскохозяйственные, дорожные, строительные и другие машины;<br>
ж) движение тихоходных машин, скорость которых менее 8 км/ч, а также тракторных саней-волокуш без разрешения начальника дистанции пути;<br>
з) объезжать с выездом на полосу встречного движения стоящие перед закрытым шлагбаумом ТС;<br>
и) самовольно открывать шлагбаум.</p>
</div></li>

<li id="1.2"><div>
<p><img src="./s_files/znak_1.2.png" alt="Знак 1.2" title="Железнодорожный переезд без шлагбаума"><strong>1.2</strong></p>
</div><div>
<h2>1.2 "Железнодорожный переезд без шлагбаума".
<p>Водителю ТС пересекать ж/д пути можно только по ж/д переездам, уступая дорогу поезду (локомотиву, дрезине).<br>
Знаки 1.1, 1.2 обязательно повторяются вне н. п., при этом второй знак устанавливается на расстоянии не менее 50 м (всего повторяется вне н. п. 6 знаков).</p>
<p>Запрещается:<br>
а) обгон на ж/д переездах и ближе, чем за 100 м перед ними;<br>
б) остановка и стоянка на ж/д переездах;<br>
в) стоянка ближе 50 м от ж/д переездов;<br>
г) разворот;<br>
д) движение задним ходом;<br>
е) провозить через переезд в нетранспортном положении сельскохозяйственные, дорожные, строительные и другие машины;<br>
ж) движение тихоходных машин, скорость которых менее 8 км/ч, а также тракторных саней-волокуш без разрешения начальника дистанции пути;<br>
з) объезжать с выездом на полосу встречного движения стоящие перед закрытым шлагбаумом ТС;<br>
и) самовольно открывать шлагбаум.</p>
</div></li>

<li id="1.3.1"><div>
<p><img src="./s_files/znak_1.3.1.png" alt="Знак 1.3.1" title="Однопутная железная дорога"><strong>1.3.1</strong></p>
</div><div>
<h2>1.3.1 "Однопутная железная дорога".
<p>Устанавливается только при наличии одного пути.</p>
</div></li>

<li id="1.3.2"><div>
<p><img src="./s_files/znak_1.3.2.png" alt="Знак 1.3.2" title="Многопутная железная дорога"><strong>1.3.2</strong></p>
</div><div>
<h2>1.3.2 "Многопутная железная дорога".
<p>Устанавливается при наличии двух и более путей (3, 4, 5 и т. д.).<br>
При отсутствии шлагбаумов на железнодорожном переезде знаки 1.3.1 и 1.3.2 определяют размер переезда.</p>
</div></li>

<li id="1.4"><div>
<p><img src="./s_files/znak_1.4.1.png" alt="Знак 1.4.1" title="Приближение к железнодорожному переезду"> <img src="./s_files/znak_1.4.2.png" alt="Знак 1.4.2" title="Приближение к железнодорожному переезду"> <img src="./s_files/znak_1.4.3.png" alt="Знак 1.4.3" title="Приближение к железнодорожному переезду"><strong>1.4.1 1.4.2 1.4.3</strong></p>
</div><div>
<h2>1.4.1, 1.4.2, 1.4.3 "Приближение к железнодорожному переезду".
<p>Устанавливаются вне н. п. на расстоянии 150-300 метров, при этом расстояние между знаками пропорциональное.</p>
<p>Знаки 1.4.1-1.4.3 устанавливаются с правой стороны дороги.</p>
</div></li>

<li><div>
<p><img src="./s_files/znak_1.4.4.png" alt="Знак 1.4.4" title="Приближение к железнодорожному переезду"> <img src="./s_files/znak_1.4.5.png" alt="Знак 1.4.5" title="Приближение к железнодорожному переезду"> <img src="./s_files/znak_1.4.6.png" alt="Знак 1.4.6" title="Приближение к железнодорожному переезду"><strong>1.4.4 1.4.5 1.4.6</strong></p>
</div><div>
<h2>1.4.4, 1.4.5, 1.4.6 "Приближение к железнодорожному переезду".
<p>Устанавливаются вне н. п. на расстоянии 150-300 метров, при этом расстояние между знаками пропорциональное.</p>
<p>Знаки 1.4.4-1.4.6 устанавливаются с левой стороны дороги.</p>
</div></li>

<li id="1.5"><div>
<p><img src="./s_files/znak_1.5.png" alt="Знак 1.5" title="Пересечение с трамвайной линией"><strong>1.5</strong></p>
</div><div>
<h2>1.5 "Пересечение с трамвайной линией".
<p>1.При одновременном праве на движение (когда транспортные средства находятся в равнозначных условиях) водители трамваев имеют преимущество.<br>
2. Вне перекрестков, где трамвайные пути пересекают путь движения безрельсовых транспортных средств, трамвай имеет преимущество, кроме случаев выезда из депо.<br>
3. При "разводке" транспортных средств на пересечениях отсутствует понятие "под прикрытием трамваев".</p>
</div></li>

<li id="1.6"><div>
<p><img src="./s_files/znak_1.6.png" alt="Знак 1.6" title="Пересечение равнозначных дорог"><strong>1.6</strong></p>
</div><div>
<h2>1.6 "Пересечение равнозначных дорог".
<p>На таких перекрестках равнозначных дорог обгон запрещен всех видов транспорта всеми транспортыми средствами.</p>
</div></li>

<li id="1.7"><div>
<p><img src="./s_files/znak_1.7.png" alt="Знак 1.7" title="Пересечение с круговым движением"><strong>1.7</strong></p>
</div><div>
<h2>1.7 "Пересечение с круговым движением".
<p>При подъезде к такому пересечению рекомендуется снизить скорость до безопасных пределов и руководствоваться правилами проезда перекрестков.</p>
</div></li>

<li id="1.8"><div>
<p><img src="./s_files/znak_1.8.png" alt="Знак 1.8" title="Светофорное регулирование"><strong>1.8</strong></p>
<p><img src="./s_files/znak_1.8_v.png" alt="Знак 1.8 временный" title="Светофорное регулирование (временный)"><strong>1.8 <br>(временный)</strong></p>
</div><div>
<h2>1.8 "Светофорное регулирование".
<p>Устанавливается в н. п. за 50-100 м, вне н. п. - за 150-300 м, знак может устанавливаться и на ином расстоянии, но при этом расстояние оговаривается таб. 8.1.1 "Расстояние до объекта".</p>
<p>Знак предупреждает о приближении к перекрестку, пешеходному переходу или участку дороги, движение на котором регулируется светофором.</p>
<p>Если на знаке желтый фон, то знак является временным.</p>
<p>В случаях если значения временных дорожных знаков и стационарных дорожных знаков противоречат друг другу, водители должны руководствоваться временными знаками.</p>
</div></li>

<li id="1.9"><div>
<p><img src="./s_files/znak_1.9.png" alt="Знак 1.9" title="Разводной мост"><strong>1.9</strong></p>
</div><div>
<h2>1.9 "Разводной мост".
<p>Устанавливается в н. п. за 50-100 м, вне н. п. - за 150-300 м, знак может устанавливаться и на ином расстоянии, но при этом расстояние оговаривается таб. 8.1.1 "Расстояние до объекта".</p>
<p>Знак обязательно повторяется вне населенного пункта, при этом повторный знак устанавливается на расстоянии не менее 50 м.</p>
</div></li>

<li id="1.10"><div>
<p><img src="./s_files/znak_1.10.png" alt="Знак 1.10" title="Выезд на набережную"><strong>1.10</strong></p>
</div><div>
<h2>1.10 "Выезд на набережную".
<p>Устанавливается в н. п. за 50-100 м, вне н. п. - за 150-300 м, знак может устанавливаться и на ином расстоянии, но при этом расстояние оговаривается таб. 8.1.1 "Расстояние до объекта".</p>
<p>Знак обязательно повторяется вне населенного пункта, при этом повторный знак устанавливается на расстоянии не менее 50 м.</p>
</div></li>

<li id="1.11.1"><div>
<p><img src="./s_files/znak_1.11.1.png" alt="Знак 1.11.1" title="Опасный поворот (правый)"><strong>1.11.1</strong></p>
</div><div>
<h2>1.11.1 "Опасный поворот (правый)".
<p>Устанавливается в н. п. за 50-100 м, вне н. п. - за 150-300 м, знак может устанавливаться и на ином расстоянии, но при этом расстояние оговаривается таб. 8.1.1 "Расстояние до объекта".</p>
<p>Разница в направлении поворота (направо, налево). Знак информирует только о направлении первого поворота за знаком.</p>
</div></li>

<li id="1.11.2"><div>
<p><img src="./s_files/znak_1.11.2.png" alt="Знак 1.11.2" title="Опасный поворот (левый)"><strong>1.11.2</strong></p>
</div><div>
<h2>1.11.2 "Опасный поворот (левый)".
<p>Устанавливается в н. п. за 50-100 м, вне н. п. - за 150-300 м, знак может устанавливаться и на ином расстоянии, но при этом расстояние оговаривается таб. 8.1.1 "Расстояние до объекта".</p>
<p>Разница в направлении поворота (направо, налево). Знак информирует только о направлении первого поворота за знаком.</p>
</div></li>

<li id="1.12.1"><div>
<p><img src="./s_files/znak_1.12.1.png" alt="Знак 1.12.1" title="Опасные повороты (с первым поворотом направо)"><strong>1.12.1</strong></p>
</div><div>
<h2>1.12.1 "Опасные повороты (с первым поворотом направо)".
<p>Устанавливается в н. п. за 50-100 м, вне н. п. - за 150-300 м, знак может устанавливаться и на ином расстоянии, но при этом расстояние оговаривается таб. 8.1.1 "Расстояние до объекта".</p>
<p>Знак информирует, что впереди ряд (или несколько) поворотов, при этом знак 1.12.1 указывает, что первый поворот после знака направо.</p>
</div></li>

<li id="1.12.2"><div>
<p><img src="./s_files/znak_1.12.2.png" alt="Знак 1.12.2" title="Опасные повороты (с первым поворотом налево)"><strong>1.12.2</strong></p>
</div><div>
<h2>1.12.2 "Опасные повороты (с первым поворотом налево)".
<p>Устанавливается в н. п. за 50-100 м, вне н. п. - за 150-300 м, знак может устанавливаться и на ином расстоянии, но при этом расстояние оговаривается таб. 8.1.1 "Расстояние до объекта".</p>
<p>Знак информирует, что впереди ряд (или несколько) поворотов. Знак 1.12.2 указывает, что первый поворот после знака налево. Направление следующих поворотов неизвестно.</p>
</div></li>

<li id="1.13"><div>
<p><img src="./s_files/znak_1.13.png" alt="Знак 1.13" title="Крутой спуск"><strong>1.13</strong></p>
</div><div>
<h2>1.13 "Крутой спуск".
<p>Знаки 1.13, 1.14 могут устанавливаться без таб. 8.1.1 непосредственно перед крутым спуском или подъемом.</p>
<p>Уступить дорогу, при наличии препятствия на уклонах, обозначенных знаками 1.13 и 1.14, должен водитель ТС, движущегося на спуск.</p>
</div></li>

<li id="1.14"><div>
<p><img src="./s_files/znak_1.14.png" alt="Знак 1.14" title="Крутой подъем"><strong>1.14</strong></p>
</div><div>
<h2>1.14 "Крутой подъем".
<p>Знаки 1.13, 1.14 могут устанавливаться без таб. 8.1.1 непосредственно перед крутым спуском или подъемом.</p>
<p>Уступить дорогу при наличии препятствия на уклонах, обозначенных знаками 1.13 и 1.14 , должен водитель ТС, движущегося на спуск.</p>
</div></li>

<li id="1.15"><div>
<p><img src="./s_files/znak_1.15.png" alt="Знак 1.15" title="Скользкая дорога"><strong>1.15</strong></p>
<p><img src="./s_files/znak_1.15_v.png" alt="Знак 1.15 временный" title="Скользкая дорога (временный)"><strong>1.15 <br>(временный)</strong></p>
</div><div>
<h2>1.15 "Скользкая дорога".
<p>Устанавливается в н. п. за 50-100 м, вне н. п. за 150-300 м, знак может устанавливаться и на ином расстоянии, но при этом расстояние оговаривается таб. 8.1.1 "Расстояние до объекта".</p>
<p>В целях предотвращения заноса на участках, обозначенных знаком, необходимо двигаться с пониженной скоростью, без резких ускорений и торможений, плавно вращая рулевое колесо, так как коэффициент сцепления шин с покрытием в силу обстоятельств очень мал.</p>
<p>Если на знаке желтый фон, то знак является временным.</p>
<p>В случаях если значения временных дорожных знаков и стационарных дорожных знаков противоречат друг другу, водители должны руководствоваться временными знаками.</p>
</div></li>

<li id="1.16"><div>
<p><img src="./s_files/znak_1.16.png" alt="Знак 1.16" title="Неровная дорога"><strong>1.16</strong></p>
<p><img src="./s_files/znak_1.16_v.png" alt="Знак 1.16 временный" title="Неровная дорога (временный)"><strong>1.16 <br>(временный)</strong></p>
</div><div>
<h2>1.16 "Неровная дорога".
<p>Устанавливается в н. п. за 50-100 м, вне н. п. - за 150-300 м, знак может устанавливаться и на ином расстоянии, но при этом расстояние оговаривается таб. 8.1.1 "Расстояние до объекта".</p>
<p>Во избежание потери управления и устойчивости двигаться на таких участках следует с пониженной скоростью.</p>
<p>Если на знаке желтый фон, то знак является временным.</p>
<p>В случаях если значения временных дорожных знаков и стационарных дорожных знаков противоречат друг другу, водители должны руководствоваться временными знаками.</p>
</div></li>

<li id="1.17"><div>
<p><img src="./s_files/znak_1.17.png" alt="Знак 1.17" title="Искусственная неровность"><strong>1.17</strong></p>
</div><div>
<h2>1.17 "Искусственная неровность".
<p>Устанавливается в н. п. за 50-100 м, вне н. п. - за 150-300 м, знак может устанавливаться и на ином расстоянии, но при этом расстояние оговаривается таб. 8.1.1 "Расстояние до объекта".</p>
<p>Такая искусственная неровность водителями называется "лежачий полицейский".</p>
</div></li>

<li id="1.18"><div>
<p><img src="./s_files/znak_1.18.png" alt="Знак 1.18" title="Выброс гравия"><strong>1.18</strong></p>
<p><img src="./s_files/znak_1.18_v.png" alt="Знак 1.18 временный" title="Выброс гравия (временный)"><strong>1.18 <br>(временный)</strong></p>
</div><div>
<h2>1.18 "Выброс гравия".
<p>Устанавливается в н. п. за 50-100 м, вне н. п. - за 150-300 м, знак может устанавливаться и на ином расстоянии, но при этом расстояние оговаривается таб. 8.1.1<br>
"Расстояние до объекта".</p>
<p>Следует по возможности увеличить интервал и дистанцию между автомобилями, снизить скорость.</p>
<p>Если на знаке желтый фон, то знак является временным.</p>
<p>В случаях если значения временных дорожных знаков и стационарных дорожных знаков противоречат друг другу, водители должны руководствоваться временными знаками.</p>
</div></li>

<li id="1.19"><div>
<p><img src="./s_files/znak_1.19.png" alt="Знак 1.19" title="Опасная обочина"><strong>1.19</strong></p>
<p><img src="./s_files/znak_1.19_v.png" alt="Знак 1.19 временный" title="Опасная обочина (временный)"><strong>1.19 <br>(временный)</strong></p>
</div><div>
<h2>1.19 "Опасная обочина".
<p>Устанавливается в н. п. за 50-100 м, вне н. п. - за 150-300 м, знак может устанавливаться и на ином расстоянии, но при этом расстояние оговаривается таб. 8.1.1 "Расстояние до объекта".</p>
<p>Категорического запрета для съезда на обочину нет. Но если возникла необходимость, то сделайте это крайне осторожно, а на большегрузных автомобилях лучше этого не делать.</p>
<p>Если на знаке желтый фон, то знак является временным.</p>
<p>В случаях если значения временных дорожных знаков и стационарных дорожных знаков противоречат друг другу, водители должны руководствоваться временными знаками.</p>
</div></li>

<li id="1.20.1"><div>
<p><img src="./s_files/znak_1.20.1.png" alt="Знак 1.20.1" title="Сужение дороги"><strong>1.20.1</strong></p>
<p><img src="./s_files/znak_1.20.1_v.png" alt="Знак 1.20.1 временный" title="Сужение дороги (временный)"><strong>1.20.1 <br>(временный)</strong></p>
</div><div>
<h2>1.20.1 "Сужение дороги". (с обеих сторон)
<p>Приближаясь к сужению дороги, водитель должен снизить скорость и держаться ближе к правому краю проезжей части.</p>
<p>Если на знаке желтый фон, то знак является временным.</p>
<p>В случаях если значения временных дорожных знаков и стационарных дорожных знаков противоречат друг другу, водители должны руководствоваться временными знаками.</p>
</div></li>

<li id="1.20.2"><div>
<p><img src="./s_files/znak_1.20.2.png" alt="Знак 1.20.2" title="Сужение дороги"><strong>1.20.2</strong></p>
<p><img src="./s_files/znak_1.20.2_v.png" alt="Знак 1.20.2 временный" title="Сужение дороги (временный)"><strong>1.20.2 <br>(временный)</strong></p>
</div><div>
<h2>1.20.2 "Сужение дороги". (справа)
<p>Приближаясь к сужению дороги, водитель должен снизить скорость и держаться ближе к правому краю проезжей части.</p>
<p>Если на знаке желтый фон, то знак является временным.</p>
<p>В случаях если значения временных дорожных знаков и стационарных дорожных знаков противоречат друг другу, водители должны руководствоваться временными знаками.</p>
</div></li>

<li id="1.20.3"><div>
<p><img src="./s_files/znak_1.20.3.png" alt="Знак 1.20.3" title="Сужение дороги"><strong>1.20.3</strong></p><p><img src="./s_files/znak_1.20.3_v.png" alt="Знак 1.20.3 временный" title="Сужение дороги (временный)"><strong>1.20.3 <br>(временный)</strong></p>
</div><div>
<h2>1.20.3 "Сужение дороги". (слева)
<p>Приближаясь к сужению дороги, водитель должен снизить скорость и держаться ближе к правому краю проезжей части.</p>
<p>Если на знаке желтый фон, то знак является временным.</p>
<p>В случаях если значения временных дорожных знаков и стационарных дорожных знаков противоречат друг другу, водители должны руководствоваться временными знаками.</p>
</div></li>

<li id="1.21"><div>
<p><img src="./s_files/znak_1.21.png" alt="Знак 1.21" title="Двустороннее движение"><strong>1.21</strong></p>
<p><img src="./s_files/znak_1.21_v.png" alt="Знак 1.21 временный" title="Двустороннее движение (временный)"><strong>1.21 <br>(временный)</strong></p>
</div><div>
<h2>1.21 "Двустороннее движение".
<p>Устанавливается в н. п. за 50-100 м, вне н. п. - за 150-300 м, знак может устанавливаться и на ином расстоянии, но при этом расстояние оговаривается таб. 8.1.1 "Расстояние до объекта".</p>
<p>Знак устанавливается перед участком дороги (проезжей части) с встречным движением.</p>
<p>Если на знаке желтый фон, то знак является временным.</p>
<p>В случаях если значения временных дорожных знаков и стационарных дорожных знаков противоречат друг другу, водители должны руководствоваться временными знаками.</p>
</div></li>

<li id="1.22"><div>
<p><img src="./s_files/znak_1.22.png" alt="Знак 1.22" title="Пешеходный переход"><strong>1.22</strong></p>
</div><div>
<h2>1.22 "Пешеходный переход".
<p>Устанавливается в н. п. за 50-100 м, вне н. п. - за 150-300 м, знак может устанавливаться и на ином расстоянии, но при этом расстояние оговаривается таб. 8.1.1 "Расстояние до объекта".</p>
<p>Приближаясь к нерегулируемому пешеходному переходу, водитель должен повысить внимание, быть готовым, чтобы снизить скорость или остановиться уступая дорогу пешеходам, переходящим проезжую часть.</p>
</div></li>

<li id="1.23"><div>
<p><img src="./s_files/znak_1.23.png" alt="Знак 1.23" title="Дети"><strong>1.23</strong></p>
</div><div>
<h2>1.23 "Дети".
<p>Устанавливается в н. п. за 50-100 м, вне н. п. - за 150-300 м, знак может устанавливаться и на ином расстоянии, но при этом расстояние оговаривается таб. 8.1.1 "Расстояние до объекта".</p>
<p>Обязательно повторяется вне н.п., при этом второй знак устанавливается на расстоянии не менее 50 м. Знак 1.23 повторяется и в населенных пунктах непосредственно в начале опасного участка. Следует снизить скорость, повысить внимание. Учитывайте, что действия детей неосознанны и не предсказуемы.</p>
</div></li>

<li id="1.24"><div>
<p><img src="./s_files/znak_1.24.png" alt="Знак 1.24" title="Пересечение с велосипедной дорожкой или велопешеходной дорожкой"><strong>1.24</strong></p>
</div><div>
<h2>1.24 "Пересечение с велосипедной дорожкой или велопешеходной дорожкой".
</div></li>

<li id="1.25"><div>
<p><img src="./s_files/znak_1.25.png" alt="Знак 1.25" title="Дорожные работы"><strong>1.25</strong></p>
</div><div>
<h2>1.25 "Дорожные работы".
<p>Обязательно повторяется вне н. п., при этом второй знак устанавливается на расстоянии не менее 50 м. Знак 1.25 обязательно повторяется и в населенных пунктах непосредственно в начале опасного участка. При проведении краткосрочных работ на проезжей части может устанавливаться без таб. 8.1.1 на расстоянии 10 - 15 м до места проведения работ.</p>
<p>Дорожный знак 1.25 «Дорожные работы» теперь в любом случае выполняется на желтом фоне.</p>
</div></li>

<li id="1.26"><div>
<p><img src="./s_files/znak_1.26.png" alt="Знак 1.26" title="Перегон скота"><strong>1.26</strong></p>
</div><div>
<h2>1.26 "Перегон скота".
<p>Знак устанавливается перед участками дорог, проходящих вдоль неогороженных пастбищ, скотных дворов, ферм и т. п. Следует пропустить животных.</p>
</div></li>

<li id="1.27"><div>
<p><img src="./s_files/znak_1.27.png" alt="Знак 1.27" title="Дикие животные"><strong>1.27</strong></p>
</div><div>
<h2>1.27 "Дикие животные".
<p>Устанавливается на участках дорог, где возможно появление диких животных. Столкновение с животными может привести к серьезным последствиям, поэтому следует двигаться со скоростью, обеспечивающей остановку.</p>
</div></li>

<li id="1.28"><div>
<p><img src="./s_files/znak_1.28.png" alt="Знак 1.28" title="Падение камней"><strong>1.28</strong></p>
</div><div>
<h2>1.28 "Падение камней".
<p>Участок дороги, на котором возможны обвалы, оползни, падение камней. Устанавливается в н. п. за 50-100 м, вне н. п. - за 150-300 м, знак может устанавливаться и на ином расстоянии, но при этом расстояние оговаривается таб. 8.1.1 "Расстояние до объекта".</p>
<p>Водителю необходимо повысить внимание и в случае возникновения обвалов, оползней и т. п., в зависимости от конкретной обстановки, следует либо остановиться, либо наоборот, увеличить скорость и проехать опасный участок.</p>
</div></li>

<li id="1.29"><div>
<p><img src="./s_files/znak_1.29.png" alt="Знак 1.29" title="Боковой ветер"><strong>1.29</strong></p>
</div><div>
<h2>1.29 "Боковой ветер".
<p>Водитель должен быть готов компенсировать отклонение автомобиля при резких и сильных порывах ветра при помощи своевременного поворота руля. </p>
</div></li>

<li id="1.30"><div>
<p><img src="./s_files/znak_1.30.png" alt="Знак 1.30" title="Низколетящие самолеты"><strong>1.30</strong></p>
</div><div>
<h2>1.30 "Низколетящие самолеты".
<p>Знак предупреждает об участках дорог, над которыми самолеты или вертолеты пролетают на небольшой высоте. Неожиданно возникший шум не должен отвлечь внимание водителя от дороги.</p>
</div></li>

<li id="1.31"><div>
<p><img src="./s_files/znak_1.31.png" alt="Знак 1.31" title="Тоннель"><strong>1.31</strong></p>
</div><div>
<h2>1.31 "Тоннель".
<p>Устанавливается в н. п. за 50-100 м, вне н. п. - за 150-300 м, знак может устанавливаться и на ином расстоянии, но при этом расстояние оговаривается таб. 8.1.1 "Расстояние до объекта".</p>
<p>1. В тоннелях на движущемся транспортном средстве должны быть включены фары дальнего или ближнего света.<br>
2.В тоннелях запрещаются: обгон, остановка и стоянка, разворот, движение задним ходом.</p>
</div></li>

<li id="1.32"><div>
<p><img src="./s_files/znak_1.32.png" alt="Знак 1.32" title="Затор"><strong>1.32</strong></p>
</div><div>
<h2>1.32 "Затор".
<p>Устанавливается в н. п. за 50-100 м, вне н. п. - за 150-300 м, знак может устанавливаться и на ином расстоянии, но при этом расстояние оговаривается таб. 8.1.1 "Расстояние до объекта".</p>
<p>Применяется в качестве временного или в знаках с изменяемым изображением перед перекрестком, откуда возможен объезд участка дороги, на котором образовался затор.</p>
</div></li>

<li id="1.33"><div>
<p><img src="./s_files/znak_1.33.png" alt="Знак 1.33" title="Прочие опасности"><strong>1.33</strong></p>
<p><img src="./s_files/znak_1.33_v.png" alt="Знак 1.33 временный" title="Прочие опасности (временный)"><strong>1.33 <br>(временный)</strong></p>
</div><div>
<h2>1.33 "Прочие опасности".
<p>Устанавливается в н. п. за 50-100 м, вне н. п. - за 150-300 м, знак может устанавливаться и на ином расстоянии, но при этом расстояние оговаривается таб. 8.1.1 "Расстояние до объекта".</p>
<p>Знак устанавливается перед участками дорог, вид опасности на которых не предусмотрен другими предупреждающими знаками. Например, в местах частого появления тумана, дыма и т. п.</p>
<p>Если на знаке желтый фон, то знак является временным.</p>
<p>В случаях если значения временных дорожных знаков и стационарных дорожных знаков противоречат друг другу, водители должны руководствоваться временными знаками.</p>
</div></li>

<li id="1.34.1"><div>
<p><img src="./s_files/znak_1.34.1-a.png" alt="Знак 1.34.1" title="Направление поворота"></p>
<p><img src="./s_files/znak_1.34.1-b.png" alt="Знак 1.34.1" title="Направление поворота"></p>
<p><img src="./s_files/znak_1.34.1-c.png" alt="Знак 1.34.1" title="Направление поворота"><strong>1.34.1</strong></p>
</div><div>
<h2>1.34.1 "Направление поворота".
<p>1. Установка обязательна на поворотах с радиусом менее 30 м.<br>
2. Устанавливаются непосредственно на повороте.</p>
</div></li>

<li id="1.34.2"><div>
<p><img src="./s_files/znak_1.34.2-a.png" alt="Знак 1.34.2" title="Направление поворота"></p>
<p><img src="./s_files/znak_1.34.2-b.png" alt="Знак 1.34.2" title="Направление поворота"></p>
<p><img src="./s_files/znak_1.34.2-c.png" alt="Знак 1.34.2" title="Направление поворота"><strong>1.34.2</strong></p>
</div><div>
<h2>1.34.2 "Направление поворота".
<p>1. Установка обязательна на поворотах с радиусом менее 30 м.<br>
2. Устанавливаются непосредственно на повороте.</p>
</div></li>

<li id="1.34.3"><div>
<p><img src="./s_files/znak_1.34.3-a.png" alt="Знак 1.34.3" title="Направление поворота"></p>
<p><img src="./s_files/znak_1.34.3-b.png" alt="Знак 1.34.3" title="Направление поворота"><strong>1.34.3</strong></p>
</div><div>
<h2>1.34.3 "Направление поворота".
<p>Устанавливается непосредственно на повороте или Т-образном перекрестке.</p>
</div></li>
</ul>
