<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
        <link href="{% static 'css/sitestyle.css' %}" rel="stylesheet">
      <meta charset="utf-8">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <title>Знаток ПДД</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body>
    <div id="navbar">
      {% block navbar %}
      <div class="container-fluid">
        <div class="row">
          <nav class="navbar navbar-inner navbar-static-top">
            <ul class="nav navbar-nav bdev">
              <li class="nav-item"><a class="nav-link vdev text-uppercase text-center" href="/">главная</a></li>
              <li class="nav-item"><a class="nav-link vdev text-uppercase text-center" href="#">автошколы</a></li>
              <li class="nav-item"><a class="nav-link vdev text-uppercase text-center" href="#">автоинструкторы</a></li>
              <li class="nav-item"><a class="nav-link vdev text-uppercase text-center" href="#">страхование</a></li>
              <li class="nav-item"><a class="nav-link text-uppercase text-center" href="#">каталог</a></li>
            </ul>
          </nav>
        </div>
      </div>
      {% endblock %}
    </div>

    <div id="panel">
      {% block panelheader %}
      <div class="panel-header">
        <div class="conteiner-fluid w1">
          <div class="row">
            <div class="col-md-2 col-md-offset-1">
              <img src="../static/img/logo.gif" href="/" alt="" class="logo"/>
            </div>

            <div class="col-md-5 col-md-offset-1">
            </div>
            <div class="col-md-2">
                {% if user.is_authenticated %}

                  <ul class="nav navbar-nav profile">
                    <li class="dropdown">
                      <a id="drop1" href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown">
                        {{ user.username }}
                        <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Мой профиль</a></li>
                          <li><a href="{% url 'password_change' %}">Изменение пароля</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'logout' %}">Выход <i class="glyphicon glyphicon-log-out" aria-hidden="true"></i></a></li>
                      </ul>
                    </li>
                  </ul>
                  </ul>
                {% else %}

                {% block button %}
                  <button data-toggle="modal" data-target="#modalLogin" class="btn btn-primary">ВХОД</button>
                  <a href="{% url 'signup' %}" class="btn btn-default">Регистрация</a>
                {% endblock %}
              {% endif %}

            </div>

          </div>
        </div>
        {% endblock %}
      </div>

      <div id="panel2">
        {% block panelbody %}
        <div class="panel-body">
    <div class="conteiner">
        <div class="row">
          {% block coins %}
            <form class="form-inline">
                <div class="form-group col-lg-2 col-lg-offset-2">
                    <label for="bonus">БАЛЛЫ</label>
                    <input type="bonus" class="form-control" id="bonus" readonly="12345">
                </div>

                <div class="form-group col-lg-3 col-lg-offset-1">
                    <label for="team">КОМАНДНЫЕ</label>
                    <input type="team" class="form-control" id="team" readonly="123">
                </div>

                <div class="form-group col-lg-2">
                    <label for="coins">BEEPCOIN</label>
                    <input type="coins" class="form-control" id="coins" readonly="123">
                </div>
            </form>
            {% endblock %}
        </div>
    </div>
</div>
        {% endblock %}
      </div>
    </div>

  <div class="modal fade" id="modalLogin" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center text-uppercase">вход на сайт</h4>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
                  <form method="post" novalidate>
                    {% csrf_token %}
                    {% include 'includes/form.html' %}
                    <small>
                      <a href="" class="text-muted">Забыли пароль?</a>
                    </small>
                    <button type="submit" class="btn btn-success">ВОЙТИ</button>
                  </form>
                </div>
              </div>
                
          </div>

        <div class="modal-footer">
          VK, facebook, google+, mail, ya
        </div>
      </div>
    </div>
  </div>

  </div>

  <div id="main">
    {% block main %}
    {% endblock %}
  </div>

  <div id="signup">
    {% block signup %}
    {% endblock %}
  </div>

  <div id="panel-reno">
    {% block panelreno %}
<div class="panel panel-default">
      <div class="conteiner">
        <div class="row">
          <div class="col-md-1 col-md-offset-2">
            <img src="../" class="logoreno" />
          </div>
          <div class="col-md-6">
            <p>Renault (Рено) - французская автомобильная компания, производит легковые, грузовые и спортивные автомобили. Совместно с румынской компанией Dacia выпускался недорогой и очень популярный Renault Logan.</p>
            <div class="text-right">
              <a href="">Официальный диллер <strong>Renault</strong></a>
            </div>
          </div>
          <div class="col-md-2">
            <img src="" class="logan" />
          </div>
        </div>
      </div>
    </div>
{% endblock %}
  </div>

    {% block content %}
    {%  endblock %}

  <div id="online">
    {% block online %}
    {% endblock %}
  </div>

  </body>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified CSS -->

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

  <!-- (Optional) Latest compiled and minified JavaScript translation files -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js"></script>

</html>