{% extends "base.html" %}
{% load static %}


{% block main %}
     <div class="conteiner text-center">
      <div class="row" style="margin-right: auto;">
       <div class="col-2 ml-auto text-uppercase">
        <div class="row">
         <ul class="navleft nav flex-column">
        <li class="nav-item2">
          <a class="nav-link navitem1" id="block1">Теория</a>
        </li>
      <li class="nav-item2 top">
          <a class="nav-link navitem1" id="block2">Билеты</a>
        </li>
        <li class="nav-item2 top">
          <a class="nav-link navitem1" id="block3">Экзамен</a>
        </li>
        <li class="nav-item2 top">
          <a class="nav-link navitem1" id="block4">по темам</a>
        </li>
        <li class="nav-item2 top">
          <a class="nav-link navitem1" id="block5">марафон</a>
        </li>
        <li class="nav-item2 top">
          <a class="nav-link navitem1" id="block6">ошибки</a>
        </li>
      </ul>
        </div>
       </div>
       <div class="col-6 text-uppercase">
        <div class="row">
         <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" id="cat1">Категории <strong>A, B, M</strong></a>
        </li>
        <li class="nav-item ml-auto">
          <a class="nav-link" id="cat2">Категории <strong>C, D</strong></a>
        </li>
      </ul>
     </div>
     <div class="row" style="margin-left: 5px;">
     	{% block ticketmain %}
      <div class="col-12 bordering text-center blockmain">
	       <div class="row boxing top5">
		          <button class="btnticket btn btn-default ml-auto" id="btnticket1" type="button" value="1">1</button>	
		          <button class="btnticket btn btn-default ml-auto" id="btnticket2" type="button" value="2">2</button>
		          <button class="btnticket btn btn-default ml-auto" id="btnticket3" type="button" value="3">3</button>
		          <button class="btnticket btn btn-default ml-auto" id="btnticket4" type="button" value="4">4</button>
		          <button class="btnticket btn btn-default ml-auto" id="btnticket5" type="button" value="5">5</button>
		          <button class="btnticket btn btn-default ml-auto" id="btnticket6" type="button" value="6">6</button>
		          <button class="btnticket btn btn-default ml-auto" id="btnticket7" type="button" value="7">7</button>
		          <button class="btnticket btn btn-default ml-auto mr-auto" id="btnticket8" type="button" value="8">8</button>
		 	</div>
		 	<div class="row boxing top5">
		          <button class="btnticket btn btn-default ml-auto" id="btnticket9" type="button" value="9">9</button>
		          <button class="btnticket btn btn-default ml-auto" id="btnticket10" type="button" value="10">10</button>
		          <button class="btnticket btn btn-default ml-auto" id="btnticket11" type="button" value="11">11</button>
		          <button class="btnticket btn btn-default ml-auto" id="btnticket12" type="button" value="12">12</button>
		          <button class="btnticket btn btn-default ml-auto" id="btnticket13" type="button" value="13">13</button>
		          <button class="btnticket btn btn-default ml-auto" id="btnticket14" type="button" value="14">14</button>
		          <button class="btnticket btn btn-default ml-auto" id="btnticket15" type="button" value="15">15</button>
		          <button class="btnticket btn btn-default ml-auto mr-auto" id="btnticket16" type="button" value="16">16</button>
		 	</div>
		 	<div class="row boxing top5">
		          <button class="btnticket btn btn-default ml-auto" id="btnticket17" type="button" value="17">17</button>
		          <button class="btnticket btn btn-default ml-auto" id="btnticket18" type="button" value="18">18</button>
		          <button class="btnticket btn btn-default ml-auto" id="btnticket19" type="button" value="19">19</button>
		          <button class="btnticket btn btn-default ml-auto" id="btnticket20" type="button" value="20">20</button>
		          <button class="btnticket btn btn-default ml-auto" id="btnticket21" type="button" value="21">21</button>
		          <button class="btnticket btn btn-default ml-auto" id="btnticket22" type="button" value="22">22</button>
		          <button class="btnticket btn btn-default ml-auto" id="btnticket23" type="button" value="23">23</button>
		          <button class="btnticket btn btn-default ml-auto mr-auto" id="btnticket24" type="button" value="24">24</button>
		 	</div>
		 	<div class="row boxing top5">
		          <button class="btnticket btn btn-default ml-auto" id="btnticket25" type="button" value="25">25</button>
		          <button class="btnticket btn btn-default ml-auto" id="btnticket26" type="button" value="26">26</button>
		          <button class="btnticket btn btn-default ml-auto" id="btnticket27" type="button" value="27">27</button>
		          <button class="btnticket btn btn-default ml-auto" id="btnticket28" type="button" value="28">28</button>
		          <button class="btnticket btn btn-default ml-auto" id="btnticket29" type="button" value="29">29</button>
		          <button class="btnticket btn btn-default ml-auto" id="btnticket30" type="button" value="30">30</button>
		          <button class="btnticket btn btn-default ml-auto" id="btnticket31" type="button" value="31">31</button>
		          <button class="btnticket btn btn-default ml-auto mr-auto" id="btnticket32" type="button" value="32">32</button>
		 	</div>
		 	<div class="row boxing top5">
		          <button class="btnticket btn btn-default ml-auto" id="btnticket33" type="button" value="33">33</button>
		          <button class="btnticket btn btn-default ml-auto" id="btnticket34" type="button" value="34">34</button>
		          <button class="btnticket btn btn-default ml-auto" id="btnticket35" type="button" value="35">35</button>
		          <button class="btnticket btn btn-default ml-auto" id="btnticket36" type="button" value="36">36</button>
		          <button class="btnticket btn btn-default ml-auto" id="btnticket37" type="button" value="37">37</button>
		          <button class="btnticket btn btn-default ml-auto" id="btnticket38" type="button" value="38">38</button>
		          <button class="btnticket btn btn-default ml-auto" id="btnticket39" type="button" value="39">39</button>
		          <button class="btnticket btn btn-default ml-auto mr-auto" id="btnticket40" type="button" value="40">40</button>
		 	</div>
		 	<div class="row boxing btnquest-box" style="display:none">
		          <button class="btnquest btn btn-default ml-auto" id="btnquest1" value="1">1</button>
		          <button class="btnquest btn btn-default ml-auto" id="btnquest2" type="button" value="2">2</button>
		          <button class="btnquest btn btn-default ml-auto" id="btnquest3" type="button" value="3">3</button>
		          <button class="btnquest btn btn-default ml-auto" id="btnquest4" type="button" value="4">4</button>
		          <button class="btnquest btn btn-default ml-auto" id="btnquest5" type="button" value="5">5</button>
		          <button class="btnquest btn btn-default ml-auto" id="btnquest6" value="6">6</button>
		          <button class="btnquest btn btn-default ml-auto" id="btnquest7" type="button" value="7">7</button>
		          <button class="btnquest btn btn-default ml-auto" id="btnquest8" type="button" value="8">8</button>
		          <button class="btnquest btn btn-default ml-auto" id="btnquest9" type="button" value="9">9</button>
		          <button class="btnquest btn btn-default ml-auto" id="btnquest10" type="button" value="10">10</button>
		          <button class="btnquest btn btn-default ml-auto" id="btnquest11" type="button" value="11">11</button>
		          <button class="btnquest btn btn-default ml-auto" id="btnquest12" type="button" value="12">12</button>
		          <button class="btnquest btn btn-default ml-auto" id="btnquest13" type="button" value="13">13</button>
		          <button class="btnquest btn btn-default ml-auto" id="btnquest14" type="button" value="14">14</button>
		          <button class="btnquest btn btn-default ml-auto" id="btnquest15" type="button" value="15">15</button>
		          <button class="btnquest btn btn-default ml-auto" id="btnquest16" type="button" value="16">16</button>
		          <button class="btnquest btn btn-default ml-auto" id="btnquest17" type="button" value="17">17</button>
		          <button class="btnquest btn btn-default ml-auto" id="btnquest18" type="button" value="18">18</button>
		          <button class="btnquest btn btn-default ml-auto" id="btnquest19" type="button" value="19">19</button>
		          <button class="btnquest btn btn-default ml-auto mr-auto" id="btnquest20" type="button" value="20">20</button>

		          <button class="btnquest btn btn-default mr-auto" id="btnquestnext" type="button" value="next">...</button>
	      </div>
			

			 <div id="result" class="result row boxing top5" style="display: none">
                 <div class="conteiner" style="width: 100%;">
 		<div class="row boxing">
 			<div class="col-xs-12 col-md-12 col-lg-6">
 				<div class="row">
					<img src="" class="imgquestion" />
				</div>
			</div>
 			<div class="col-xs-12 col-md-12 col-lg-6 text-left objquestion">
	 				<p id="quest"></p>
	 			</div>

 			</div>
 			<div class="">
				<ul class="list-unstyled">
					<li>
						<button class="answbtn text-left btn btn-default" id="answer1"></button>
					</li>
					<li>
						<button class="answbtn text-left btn btn-default" id="answer2"></button>
					</li>
					<li>
						<button class="answbtn text-left btn btn-default" id="answer3"></button>
					</li>
                    <li>
						<button class="answbtn text-left btn btn-default" id="answer4"></button>
					</li>
					<li>
						<button class="answbtn text-left btn btn-default" id="answer5"></button>
					</li>
				</ul>
			</div>



			<div class="conteiner help-box" style="display: none">
				    <div class="row">
				        <ul class="list-inline" id="help-text"></ul>
				    </div>
				    <div class="row">
				        <div class="col-12 text-left">
				            <ul class="list-inline">
				                <li><button class="helpbtn btn btn-default">ПОЯСНЕНИЕ</button></li>
				                <li><button class="penaltybtn btn btn-default">ШТРАФЫ</button></li>
				          		<li><button class="nextbtn btn btn-success">Далее</button></li>
				            </ul>
				        </div>
				    </div>
            </div>
                 </div>
	      </div>
      </div>
	      {% endblock %}
     </div>
       </div>
       <div class="col-2 mr-auto">
        <div class="row">
         <div class="col-12 w2">
          <div class="text-uppercase" style="color: blue; font-size: 15px;">Лидеры недели</div>
          <div class="row padb" style="border-top: 1px solid lightgrey;">
           <div class="col-4">

           </div>
           <div class="col-4">
            <div class="row">
             <div class="col-12 text3">
              <p style="font-size: 17px;">Имя</p>
              <small>Город</small>
             </div>
            </div>
           </div>
           <div class="col-4">
            <div class="row">
             <img src="{% static 'img/gold.png' %}" id="gold" />
            </div>
           </div>
           <div class="col-12 ml-auto text3" >
            <div class="row">
             <div class="col-4 ml-auto">
              БАЛЛЫ
             </div>
             <div class="col-4 coinslid">
              12345
             </div>
            </div>
           </div>
          </div>

          <div class="row padb">
           <div class="col-4">

           </div>
           <div class="col-4">
            <div class="row">
             <div class="col-12 text3">
              <p style="font-size: 17px;">Имя</p>
              <small>Город</small>
             </div>
            </div>
           </div>
           <div class="col-4">
            <div class="row">
             <img src="{% static 'img/silver.png' %}" id="gold"/>
            </div>
           </div>
           <div class="col-12 ml-auto text3">

            <div class="row">
             <div class="col-4 ml-auto text-right">
              БАЛЛЫ
             </div>
             <div class="col-4 coinslid">
              12345
             </div>
            </div>
           </div>
          </div>

          <div class="row padb">
           <div class="col-4">

           </div>
           <div class="col-4">
            <div class="row">
             <div class="col-12 text3">
              <p style="font-size: 17px;">Имя</p>
              <small>Город</small>
             </div>
            </div>
           </div>
           <div class="col-4">
            <div class="row">
             <img src="{% static 'img/bronze.png' %}" id="gold"/>
            </div>
           </div>
           <div class="col-12 ml-auto text3">

            <div class="row">
             <div class="col-4 ml-auto text-right">
              БАЛЛЫ
 </div>
             <div class="col-4 coinslid">
              12345
             </div>
            </div>
           </div>
          </div>
      </div>
        </div>
       </div>
   </div>
 </div>
{% endblock %}

{% block online %}
<div id="online" class="background2">
	<div class="conteiner onlinecontent">
		<div class="col-6 mr-auto ml-auto text-center text-uppercase titletext">
			<p>Примите участие в ON-LINE состязаниях с другими пользователями сайта	</p>
		</div>
		<div class="col-8 mr-auto ml-auto">
			<div class="row navigation text-center">
				<div class="col-3 navigation-item navonlineitem" id="navonlineitem1">
					<a class="text-uppercase">знания пдд</a>
				</div>
				<div class="col-3 mr-auto ml-auto navigation-item navonlineitem" id="navonlineitem2">
					<a class="text-uppercase">дорожные знаки</a>
				</div>
				<div class="col-3 navigation-item navonlineitem" id="navonlineitem3">
					<a class="text-uppercase">штрафы</a>
				</div>
			</div>
		</div>
		
		
		
		<div class="col-8 mr-auto ml-auto back">
			<div class="btn btn-default" style="width: 100%;">
				<p style="font-size: 0.1em;">Выберите ставку. Нажмите СТАРТ. Дождитесь готовности соперника.
				 Побеждает тот, кто первый и без ошибок ответит на 20 вопросов из билетов ПДД. Баллы по ставке от проигравшего переходят победителю. Удачи!</p>
			</div>
					
			<div class="col-10 ml-auto mr-auto">
				<div class="row btnrow">
					<div class="btn btn-default btn_for_online ml-auto" id="btn_for_online_1">
						0
					</div>
					<div class="btn btn-default btn_for_online ml-auto" id="btn_for_online_2">
						50
					</div>
					<div class="btn btn-default btn_for_online ml-auto" id="btn_for_online_3">
						100
					</div>
					<div class="btn btn-default btn_for_online ml-auto" id="btn_for_online_4">
						250
					</div>
					<div class="btn btn-default btn_for_online ml-auto" id="btn_for_online_5">
						500
					</div>
					<div class="btn btn-default btn_for_online ml-auto" id="btn_for_online_6">
						1000
					</div>
					<div class="btn btn-default btn_for_online_active ml-auto mr-auto" id="btn_for_online_7">
						Старт
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="row">
					<div class="col-2">
						<ul class="list-unstyled block">
							<li class="text-center text-uppercase f1 b">статистика</li>
							<li>
								<table class="table text">
									<tbody>
										<tr>
											<td>
												<p class="text1">Выиграно</p><p class="text1">% побед</p>
											</td>
											<td class= "text-right">
												<p class="text2">
													<span class="g">11</span>/<span class="g">15</span>
												</p>
												<p class="text2 g">73</p>
											</td>
										</tr>
										<tr>
											<td>
												<span class="text1">В рейтинге</span>
											</td>
											<td class="text-right">
												<span class="text2 g">1000+</span>
											</td>
										</tr>
									</tbody>
								</table>
							</li>
						</ul>
						<div class="block text-uppercase text-center f1 s">равный соперник</div>
					</div>
					<div class="col-8">
						<div class="row" id="profile">
							<div class="col-4 text-right ml-auto" id="first_profile">
								<img src="{% static 'img/21.png' %}" id="img_profile"/>
							</div>
							<div class="col-4">
								<img src="{% static 'img/vs.png' %}" id="img_profile"/>
							</div>
							<div class="col-4 mr-auto" id="second_profile">
								<img src="{% static 'img/21.png' %}" id="img_profile"/>
							</div>
						</div>
					</div>
					<div class="col-2">
						<ul class="list-unstyled block">
							<li class="text-center text-uppercase f1 b">статистика</li>
							<li>
								<table class="table text">
									<tbody>
										<tr>
											<td>
												<p class="text1">Выиграно</p><p class="text1">% побед</p>
											</td>
											<td class= "text-right">
												<p class="text2">
													<span class="g">-</span>
												</p>
												<p class="text2 g">-</p>
											</td>
										</tr>
										<tr>
											<td>
												<span class="text1">В рейтинге</span>
											</td>
											<td class="text-right">
												<span class="text2 g">-</span>
											</td>
										</tr>
									</tbody>
								</table>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div id="panellamb">
		<div class="col-10 mr-auto ml-auto text-center text-uppercase titletext">
			<p>присоединяйтесь к командной гонке за баллами</p>
		</div>
		<div class="panel panel-default">
			<div class="conteiner-fluid">
				<div class="row1 row">
					<div class="col-8  ml-auto mr-auto">
						<select class="form-control form-control-lg">
							<option>select</option>
						</select>
						<div class="row btnrow">
							<div class="col-3">
								<img src="{% static 'img/greenlamb.png' %}" class="lamb" id="lamb1" />
							</div>
							<div class="col-3">
								<img src="{% static 'img/yellowlamb.png' %}" class="lamb" id="lamb2" />
							</div>
							<div class="col-3">
								<img src="{% static 'img/redlamb.png' %}" class="lamb" id="lamb3" />
							</div>
							<div class="col-3 text-center">
								<a class="btn btn-secondary text-uppercase confirm">Выбрать команду</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascript%}

    <script type="text/javascript" src="{% static '/js/jquery-3.2.1.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

<script>

var category = 1;
var number_of_ticket = 1;
var number_of_question = 1;
var res = [];



$(document).ready(function() {
    $("#modalbtn").click(function () {
        $("#modalLogin").modal();
    });
});

$(document).ready(function() {
    $.ajax({

        type: "GET",

        url: "check_points/",

        cache: false,

        success: function (data) {
            document.getElementById('bonus').innerHTML = data.points;
            document.getElementById('bonus1').innerHTML = data.points;
        }
    });
});

$("#navonlineitem1").addClass("active");

$(".navonlineitem").click(function(){
	var id = $(this).attr("id");
	var e = document.getElementById(id);
    $(".navonlineitem").removeClass("active");
    $(e).addClass("active");
});

$(".btn_for_online").click(function(){
	var id = $(this).attr("id");
	var e = document.getElementById(id);
    $(".btn_for_online").removeClass("btn_for_online_active");
    $(e).addClass("btn_for_online_active");
});

$("#cat1").click(function () {
    category = 1;
    $(this).addClass("active");
    $('#cat2').removeClass("active");
});

$("#cat2").click(function () {
    category = 2;
    $(this).addClass("active");
    $('#cat1').removeClass("active");
});

function changeData(data) {

    $(".answbtn").removeClass("btn-success btn-danger");
    document.getElementById('quest').innerHTML = data.questions[0].question;
    $('.imgquestion').attr("src", "/media/" + data.questions[0].picture);
    document.getElementById('help-text').innerHTML = data.questions[0].comment_for_question;
    document.getElementById('answer1').innerHTML = data.answers[0];
    document.getElementById('answer2').innerHTML = data.answers[1];
    if (data.answers[2]) {
        document.getElementById('answer3').innerHTML = data.answers[2];
        $('#answer3').show();
    }
    else $('#answer3').hide();
    if (data.answers[3]) {
        document.getElementById('answer4').innerHTML = data.answers[3];
        $('#answer4').show();
    }
    else $('#answer4').hide();
    if (data.answers[4]) {
        document.getElementById('answer5').innerHTML = data.answers[4];
        $('#answer5').show();
    }
    else $('#answer5').hide();


    if (res[number_of_question - 1].user_answer) {
        var t_answ = getElementByClassAndInnerHtml("answbtn", res[number_of_question - 1].true_answer);
        $(t_answ).addClass('btn-success');
        if (res[number_of_question - 1].true_answer !== res[number_of_question -1].user_answer) {
            var u_answ = getElementByClassAndInnerHtml("answbtn", res[number_of_question - 1].user_answer);
            $(u_answ).addClass('btn-danger');
        }
        $('.answbtn').addClass('disabled');
        $('.help-box').show();
    } else {
        $('.answbtn').removeClass('disabled');
        $('.help-box').hide();
    }


    for (var i = 0; i <= 7; i++) {
        var btnquest = document.getElementById("btnquest" + (i + 1));
        $(btnquest).removeClass('btn-danger btn-success btn-primary');
        if (i + 1 === number_of_question) {
            $(btnquest).addClass('btn-primary');
        } else if (res[i].user_answer) {
            if (res[i].user_answer === res[i].true_answer) {
                $(btnquest).addClass('btn-success');
            } else $(btnquest).addClass('btn-danger');
        }

    }
}

function getElementByClassAndInnerHtml(className, text) {
    var elements = document.getElementsByClassName(className);
    for (var i = 0; i < elements.length; i++) {
        if (elements[i].innerHTML === text)
            return elements[i];
    }
}

$('.btnticket').click(function() {
    number_of_ticket = $(this).attr("value");
    number_of_question = 1;
    $.ajax({

        type: "GET",

        url: "load_ticket/",

        data: {'number_of_ticket': number_of_ticket},

        cache: false,

        success: function (data) {
            console.log(data);
            $('.btnticket').hide();
            $('.result').show();
            $('.btnquest-box').show();

            res = data.results;
            changeData(data);


        }
    });
});

// загрузка вопроса 
$(".btnquest").click(function () {
    number_of_question = Number($(this).attr("value"));
    $.ajax({

        type: "GET",

        url: "load_question/",

        data: {
            'number_of_ticket': number_of_ticket,
            'number_of_question': number_of_question
        },

        cache: false,

        success: function (data) {
            console.log(data);
            changeData(data);
        }
    });
});

$(".nextbtn").click(function () {
    number_of_question++;
    $.ajax({

        type: "GET",

        url: "load_question/",

        data: {
            'number_of_ticket': number_of_ticket,
            'number_of_question': number_of_question
        },

        cache: false,

        success: function (data) {
            console.log(data);
            changeData(data);
        }
    });
});

$(".answbtn").click(function () {
    var answbtn_id = $(this).attr("id");
    var answbtn = document.getElementById(answbtn_id);
    var user_answ = answbtn.textContent || answbtn.innerText;

    $.ajax({

        type: "GET",

        url: "check_answer/",

        data: {
            'number_of_ticket': number_of_ticket,
            'number_of_question': number_of_question,
            'answer_by_user': user_answ
        },
        dataType: 'json',

        cache: false,

        success: function (data) {
            console.log(data);
            $('.help-box').show();

            $.ajax({

                type: "GET",

                url: "check_points/",

                cache: false,

                success: function (data) {
                    document.getElementById('bonus').innerHTML = data.points;
                    document.getElementById('bonus1').innerHTML = data.points;
                }
            });

            if (user_answ === data.true_answer) {
                $(answbtn).addClass("btn-success");
            } else {
                $(answbtn).addClass("btn-danger");
                var true_answbtn = getElementByClassAndInnerHtml("answbtn", data.true_answer);
                $(true_answbtn).addClass("btn-success");
            }
            $('.answbtn').addClass("disabled");
            res[number_of_question - 1].user_answer = user_answ;
            res[number_of_question - 1].true_answer = data.true_answer;

        }
    });
});

</script>

{% endblock %}
