{% extends "base.html" %}


{% block panelbody %}
<div class="panel-body">
    <div class="conteiner">
        <div class="row" >
          {% block coins %}
            <form class="form-inline">
                <div class="form-group col-lg-2 col-lg-offset-2">
                    <label for="bonus">БАЛЛЫ</label>
                    <input type="bonus" class="form-control" id="bonus" readonly="12345">
                </div>

                <div class="form-group col-lg-3 col-lg-offset-1">
                    <label for="team">КОМАНДНЫЕ</label>
                    <input type="team" class="form-control" id="team" readonly="123">
                </div>

                <div class="form-group col-lg-2">
                    <label for="coins">BEEPCOIN</label>
                    <input type="coins" class="form-control" id="coins" readonly="123">
                </div>
            </form>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block panela %}
<div class="col-md-2">
                {% if user.is_authenticated %}

                  <ul class="nav profile text-center">
                    <li class="dropdown">
                      <a id="drop1" href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown">
                        {{ user.username }}
                        <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#">Мой профиль</a></li>
                          <li><a href="{% url 'password_change' %}">Изменение пароля</a></li>
                        <li class="h-divider"></li>
                        <li><a href="{% url 'logout' %}">Выход <i class="glyphicon glyphicon-log-out" aria-hidden="true"></i></a></li>
                      </ul>
                    </li>
                  </ul>
                  </ul>
                {% else %}

                {% block button %}
                  <button data-toggle="modal" data-target="#modalLogin" class="btn btn-primary">ВХОД</button>
                  <a href="{% url 'signup' %}" class="btn btn-default">Регистрация</a>
                {% endblock %}
              {% endif %}

            </div>
            {% endblock %}


{% block main %}
<div class="panel-body panel-default">
			<div class="conteiner">
				<div class="row1">
					<div class="col-lg-9 col-lg-offset-1">
						<div class="row2">
							<div class="col-lg-3">
								<div class="row">
									<div class="col-lg-12">
										<a>Теория</a>
									</div>
									<div class="col-lg-12">
										<a>Билеты</a>
									</div>
									<div class="col-lg-12">
										<a>Экзамен</a>
									</div>
									<div class="col-lg-12">
										<a>По темам</a>
									</div>
									<div class="col-lg-12">
										<a>Марафон</a>
									</div>
									<div class="col-lg-12">
										<a>ошибки</a>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="row3">
									<div class="col-lg-6">
										<a>Категории <strong>A,B,M</strong></a>
									</div>
									<div class="col-lg-6">
										<a>Категории <strong>C,D</strong></a>
									</div>
								</div>
							</div>

<!-- ГОвнокод by Саня -->
<div class="conteiner">
<div class="byAlex row text-center" id="byAlex">

	<p>Выбирите билет</p>  
    	<form>  
        	<input class="btnticket" id="btnticket1" type="button" value="1">  
        	<input class="btnticket" id="btnticket2" type="button" value="2"> 
        	<input class="btnticket" id="btnticket3" type="button" value="3">   
    	</form>  

	<p>Выбирите вопрос</p>  
    	<form>  
        	<input class="btnquest" id="btnquest1" type="button" value="1">  
        	<input class="btnquest" id="btnquest2" type="button" value="2"> 
        	<input class="btnquest" id="btnquest3" type="button" value="3">  
        	<input class="btnquest" id="btnquest4" type="button" value="4"> 
        	<input class="btnquest" id="btnquest5" type="button" value="5"> 
    	</form>  

 <div id="result" class="result"></div>

</div>
</div>

{% include   "js.html" %}
<!-- ^^^^^
     ||||| -->
<!-- ГОвнокод by Саня -->
					<div class="col-lg-2">

					</div>
				</div>
			</div>
		</div>
{% endblock %}

{% block online %}
<div id="online">
	<div class="conteiner">
		<div class="row"  style="margin-right: 15px;">
			<div class="col-md-8 col-md-offset-2">
				<div class="row">
					<div class="col-md-12">
								<div class="text-center text-uppercase ">
									<p style="color: blue; font-size: 20px;"><em><strong>Примите участие в ON-LINE состязаниях <br>с другими пользователями сайта</strong></em></p>
								</div>
					</div>
					<div class="conteiner">
								<div class="row">
									<div class="col-md-4">
										<nav class="navbar navbar-inner" >
											<ul class="navbar-nav nav full">
												<li class="nav-item"><a class="nav-link text-uppercase text-center" href="#">знания пдд</a></li>
											</ul>
										</nav>
									</div>
									<div class="col-md-4">
										<nav class="navbar navbar-inner">
											<ul class="navbar-nav nav">
												<li class="nav-item nav-item-cast"><a class="nav-link text-uppercase text-center" href="#">дорожные знаки</a></li>
											</ul>
										</nav>
									</div>
									<div class="col-md-4">
										<nav class="navbar navbar-inner">
											<ul class="navbar-nav nav">
												<li class="nav-item nav-item-cast"><a class="nav-link text-uppercase text-center" href="#">штрафы</a></li>
											</ul>
										</nav>
									</div>
								</div>
					</div>
				</div>

				<div class="body">
							<div class="conteiner-fluid">
								<div class="row">
									<div class="col-md-12">
										<select class="form-control form-control-sm">
											<option>select</option>
										</select>
									</div>
									<div class="col-md-12 col-md-offset-2 btn">
										<div class="col-md-1">
											<button class="btn btn-default border">
												0	
											</button>
										</div>
										<div class="col-md-1">
											<button class="btn btn-default">
												50
											</button>
										</div>
										<div class="col-md-1">
											<button class="btn btn-default">
												100
											</button>
										</div>
										<div class="col-md-1">
											<button class="btn btn-default">
												250	
											</button>
										</div>
										<div class="col-md-1">
											<button class="btn btn-default">
												500	
											</button>
										</div>
										<div class="col-md-1">
											<button class="btn btn-default">
												1000	
											</button>
										</div>
										<div class="col-md-1">
											<button class="btn btn-default border">
												СТАРТ	
											</button>
										</div>
									</div>
									
									<div class="col-md-12">
										<div class="col-md-3 box">
											<table class="table">
												<thead>
													<tr colspan="2">
														<p class="text-center text-uppercase">Статистика</p>
													</tr>
												</thead>
													<tbody>
														<tr>
															<td>
																<p>Выиграно</p><p>% побед</p>
															</td>
															<td>
																<p class="text-right">11/15</p><p class="text-right">73</p>
															</td>
														</tr>
														<tr>
															<td>
																<p>В рейтинге</p>
															</td>
															<td>
																<p class="text-right">1000+</p>
															</td>
														</tr>
													</tbody>
											</table>
										</div>
										
										<div class="col-md-5 main">
											<p>asda</p>
										</div>

										<div class="col-md-3 box1 pull-right">
											<table class="table">
												<thead>
													<tr colspan="2">
														<p class="text-center text-uppercase">Статистика</p>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>
															<p>Выиграно</p><p>% побед</p>
														</td>
														<td>
															<p class="text-right">-</p><p class="text-right">-</p>
														</td>
													</tr>
													<tr>
														<td>
															<p>В рейтинге</p>
														</td>
														<td>
															<p class="text-right">-</p>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>

									<div class="col-md-12">
										<div class="col-md-3 box2">
											<p class="text-center text-uppercase">Равный соперник</p>
										</div>
									</div>
								</div>
							</div>
				</div>
				<br>
				<br>
				<div class="text-center text-uppercase">
					<p style="color: blue; font-size: 20px;"><strong><em>Присоединяйтесь к командной гонке за баллами</em></strong></p>
				</div>
				<br>
			</div>
		</div>
	</div>
</div>

<div id="panellamb">
		<div class="panel panel-default">
			<div class="conteiner-fluid">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<select class="form-control form-control-sm">
							<option>select</option>
						</select>
						<div class="col-md-9">
							<div class="col-md-4">
								<img src="http://st.motortrend.com/uploads/sites/10/2016/06/2016-lamborghini-huracan-lp6104-coupe-angular-front.png" style="height: 150px; width:220px;" />
							</div>
							<div class="col-md-4">
								<img src="http://st.motortrend.com/uploads/sites/10/2016/06/2016-lamborghini-huracan-lp6104-coupe-angular-front.png" style="height: 150px; width:220px;" />
							</div>
							<div class="col-md-4">
								<img src="http://st.motortrend.com/uploads/sites/10/2016/06/2016-lamborghini-huracan-lp6104-coupe-angular-front.png" style="height: 150px; width:220px;" />
							</div>
						</div>
						<div class="col-md-3">
							<div class="pull-right">
								<p class="text-uppercase asd">Осталось <strong style="font-size: 16px; color: blue;">12312</strong> <i class="glyphicon glyphicon-bullhorn" aria-hidden="true"></i>
								</p>
								<button class="btn btn-default menu text-uppercase">Выбрать команду</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
{% endblock %}
