<div class="row information">
  <div class="col-12 card card-grey text-uppercase text-center cardblock" id="pdd">
    <div class="card-block">
      <div class="card-title mb-3 mt-3">
        <span>Изменения пдд</span>
        <i class="fa fa-angle-down icons" style="font-size: 40px;"></i>
      </div>
    </div>
  </div>
  <div class="col-12">
    <br>
  </div>


  <div class="col-12 card card-grey text-uppercase text-center cardblock" id="tickets">
    <div class="card-block">
      <div class="card-title mb-3 mt-3">
        <span>Изменения в билетах</span>
        <i class="fa fa-angle-down icons" style="font-size: 40px;"></i>
      </div>
    </div>
  </div>
  <div class="col-12">
    <br>
  </div>


  <div class="col-12 card card-grey text-uppercase text-center cardblock" id="penalty">
    <div class="card-block">
      <div class="card-title mb-3 mt-3">
        <span>новые штрафы</span>
        <i class="fa fa-angle-down icons" style="font-size: 40px;"></i>
      </div>
    </div>
  </div>
  <div class="col-12">
    <br>
  </div>

  <div class="col-12 card card-grey text-uppercase text-center cardblock" id="news">
    <div class="card-block">
      <div class="card-title mb-3 mt-3">
        <span>новостная лента</span>
        <i class="fa fa-angle-down icons" style="font-size: 40px;"></i>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row card news">
      <div class="card-body">
        <span class="news-date text-muted">27.03.2017</span>
        <i class="fa fa-circle text-success" aria-hidden="true"></i>
        <div class="card-title text-center">
          <span class="text-primary news-title font-weight-bold font-italic">Какой-то заголовок текста ооооооооооооооооооооооооооasdadsasdda длинный</span>
        </div>
        <br>
        <div class="col-12">
          <div class="row">
            <div class="col-3">
              <img class="card-img-left news-img" src="/media/{{user.profile.user_avatar}}" alt="Card image cap">
            </div>
            <div class="col-9 text-right">
              <p class="text-left">
                Разум — это Будда, а прекращение умозрительного мышления — это путь. Перестав мыслить понятиями и размышлять о путях существования и небытия, о душе и плоти, о пассивном и активном и о других подобных вещах, начинаешь осознавать, что разум — это Будда, что Будда — это сущность разума, и что разум подобен бесконечности.
              </p>
              <a href="" class="news-link font-italic">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>