{% extends "base.html" %}
{% load static %}

{% block game %}
<div class="text-center text-uppercase" style="padding-top: 5%;">
    <i class="text2">Безопасность на дорогах страны зависит от каждого из нас!</i>
</div>
{% endblock %}

{% block coins %}
<div class="col-10 mr-auto ml-auto text-uppercase text-center">
	<p style="padding: 0.5em; color: white;">Каждый из них способствует снижению смертности наших граждан на дорогах страны! <a class="alert-link" href="/" style="color: white !important;">Присоединяйтесь!</a></p>
</div>
{% endblock %}
{% block coins1 %}
{% endblock %}
{% block main %}
<div class="conteiner text-center" id="our_team">
	<div class="col-12">
		<div class="row">
			<div class="col-3 ml-auto">
			      <ul class="list-unstyled nav navleft" style="padding-bottom: 2em;">
			      	<li class="nav-item2"><a class="nav-link navitem1 active" id="block1_team">Активисты</a></li>
			      	<li class="nav-item2 top"><a class="nav-link navitem1" id="block2_team">Волонтеры</a></li>
			      	<li class="nav-item2 top"><a class="nav-link navitem1" id="block3_team">Бизнес партнеры</a></li>
			      	<li class="nav-item2 top"><a class="nav-link navitem1" id="block4_team">Инвесторы</a></li>
			      	<li class="nav-item2 top"><a class="nav-link navitem1" id="block5_team">Разработчики</a></li>
			      	<li class="nav-item2 top"><a class="nav-link navitem1" id="block6_team">Информационные агенства</a></li>
			      </ul>
			</div>
			<div class="col-7 mr-auto">
				<div class="row img_team" id="activity">
					<div class="col-3">
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
					</div>
					<div class="col-3">
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
					</div>
					<div class="col-3">
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
					</div>
					<div class="col-3">
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
					</div>
				</div>
				<div class="row img_team hide" id="volunteers">
					<div class="col-3">
						<img src="{% static 'img/av1.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
					</div>
					<div class="col-3">
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av1.png' %}" id="avatar">
						<div>Имя</div>
						<br>
					</div>
					<div class="col-3">
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
					</div>
					<div class="col-3">
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
					</div>
				</div>
				<div class="row img_team hide" id="business">
					<div class="col-3">
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av1.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av1.png' %}" id="avatar">
						<div>Имя</div>
						<br>
					</div>
					<div class="col-3">
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
					</div>
					<div class="col-3">
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
					</div>
					<div class="col-3">
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
					</div>
				</div>
				<div class="row img_team hide" id="investors">
					<div class="col-3">
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
					</div>
					<div class="col-3">
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
					</div>
					<div class="col-3">
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
					</div>
					<div class="col-3">
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
					</div>
				</div>
				<div class="row img_team hide" id="developers">
					<div class="col-3">
						<img src="{% static 'img/av1.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av1.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av1.png' %}" id="avatar">
						<div>Имя</div>
						<br>
					</div>
					<div class="col-3">
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
					</div>
					<div class="col-3">
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
					</div>
					<div class="col-3">
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
					</div>
				</div>
				<div class="row img_team hide" id="agencies">
					<div class="col-3">
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
					</div>
					<div class="col-3">
						<img src="{% static 'img/av1.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av1.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av1.png' %}" id="avatar">
						<div>Имя</div>
						<br>
					</div>
					<div class="col-3">
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
					</div>
					<div class="col-3">
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
						<img src="{% static 'img/av.png' %}" id="avatar">
						<div>Имя</div>
						<br>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}