{% extends 'base_accounts.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block divider %}
<div class="h-divider">
</div>
{% endblock %}

{% block content %}
  <div class="row justify-content-center" id="content">
    <div class="col-4">
          <h3 class="card-title">Восстановление пароля</h3>
          <p>Пожалуйста, введите адрес Вашей электронной почты</p>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">Отправить письмо</button>
          </form>
    </div>
  </div>
{% endblock %}
