{% extends 'base.html' %}

{% block title %}Пароль изменен{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Пароль изменен</h3>
          <div class="alert alert-success" role="alert">
            Ваш пароль был успешно изменен!
          </div>
          <a href="{% url 'home' %}" class="btn btn-secondary btn-block">Вернуться на главную</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
