{% extends 'base.html' %}

{% block title %}
Восстановление пароля
{% endblock %}


{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          {% if validlink %}
            <h3 class="card-title">Восстановление пароля для @{{ form.user.username }}</h3>
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-success btn-block">Изменить пароль</button>
            </form>
          {% else %}
            <h3 class="card-title">Восстановление пароля</h3>
            <div class="alert alert-danger" role="alert">
              Ссылка недействительна. Пожалуйста, поробуйте еще раз
            </div>
            <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Получить новую ссылку</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
