{% load static %}
<div class="text-transform_none text-left themes-block">
{% for theory in theory_dict %}
  <div class="theme_inside_row themes-block_padding_top">
    <p class="text-left">
      <b>{{ theory.bold }} </b>
      {{ theory.content }}
    </p>
    <div class="img_mini">
      {% if theory.img %}
      <img src="{% static 'img/signs_for_themes/' %}{{ theory.img }}"
           class="image-theme image-theme_mini {% for class in theory.img_class %}{{ class }} {% endfor %}">
      {% endif %}
      {% if theory.img1 %}
        <img src="{% static 'img/signs_for_themes/' %}{{ theory.img1 }}"
           class="image-theme image-theme_mini">
      {% endif %}
      {% if theory.img2 %}
        <img src="{% static 'img/signs_for_themes/' %}{{ theory.img2 }}"
           class="image-theme image-theme_mini">
      {% endif %}
      {% if theory.img3 %}
        <img src="{% static 'img/signs_for_themes/' %}{{ theory.img3 }}"
           class="image-theme image-theme_mini">
      {% endif %}
      {% if theory.img4 %}
        <img src="{% static 'img/signs_for_themes/' %}{{ theory.img4 }}"
           class="image-theme image-theme_mini">
      {% endif %}
    </div>
  </div>
  {% if theory.ul %}
      <ul class="list-unstyled" style="padding-top: 10px;">
      {% for item in theory.ul %}
      <li>{{ item }}</li>
      {% endfor %}
      </ul>
    {% endif %}

  {% if theory.description %}
    <p class="text-muted font-italic text-description">{{ theory.description }}</p>
  {% endif %}
{% endfor %}
</div>