<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
</body>
<script>
	  let number_of_game = 1;
  let number_of_try = 5;
  let skip_game = 0;
  let list_skip_game = {};
  let counter = 0;
  let counter_skip = 0;
  let user_answer = ['0', '0', '0'];


  function commentsData(objects) {
    for (let i = 0; i < objects.comments.length; i++) {
      document.getElementById("js-user" + i).innerText = objects.comments[i].user;
      document.getElementById("js-text" + i).innerText = objects.comments[i].text;
      document.getElementById("js-date" + i).innerText = objects.comments[i].date.match(/\d*-\d*-\d*/g);
      document.getElementById("js-city" + i).innerText = objects.comments[i].city;
      document.getElementById("js-rating" + i).innerText = objects.comments[i].rating;
      const element = document.getElementById('js-avatar' + i);
      $(element).attr("src", objects.comments[i].avatar);
    }
  }
  
  function loadComments() {
    $.ajax({
      type: "GET",
      url: "/get_comments/",
      cache: false,
      success: function(data){
        commentsData(data);
        }
    });
  }


  function loadMiniGame() {
    $.ajax({
      type: "GET",
      url: "/load_picture/",
      data: {'number_of_game': number_of_game,
             'number_of_try': number_of_try,
             'skip_game': skip_game},
      cache: false,
      success: function(data){
        $('.game-is-ready').show();
        miniGame(data);
        }
    });
  }

  function checkStageMiniGame() {
    $.ajax({

      type: "GET",

      url: "/check_game_is_ready/",

      cache: false,

      success: function(data){
        if (data.mini_game_is_ready) {
         loadMiniGame();
        } else {
          miniGameNotReady(data.time_now);
        }
      }
    });
  }

  function miniGameNotReady(time) {
    let constTime;
    $('.js-game-ready').hide();
    $('.js-game-not-ready').show();

    if (Object.prototype.toString.call(time) === '[object Object]') {
      constTime = '29:59';
    } else {
      constTime = time.match(/\d*M\d*/g).toString().replace('M', ':');
    }

    function startTimer(timer) {
      if (timer !== undefined) {
        document.getElementById('js-timer').innerText = timer;
      }
      const elem = document.getElementById('js-timer');
      let tim = elem.innerText;
      let min = tim[0] + tim[1];
      let seconds = tim[3] + tim[4];

      if (seconds === '00') {
        if (min === '00') {
          checkStageMiniGame();
        }
        min -= 1;
        seconds = '59';
        if (min < '10') min = '0' + min;
        console.log(seconds);
      } else {
        seconds -= 1;
      }
      if (seconds < 10) {
        seconds = '0' + seconds;
      }
      elem.innerHTML = min + ':' + seconds;
      setTimeout(startTimer, 1000);
    }

    startTimer(constTime);
  }

  function miniGame(data) {
    $('.js-game-not-ready').hide();
    $('.js-game-ready').show();
    counter = 0;
    $(".tic").removeClass("act");
    document.getElementById('mini-question').innerHTML = data.quest;
    $('#1mini').attr("src", "/media/" + data.pictures[0].url);
    $('#2mini').attr("src", "/media/" + data.pictures[1].url);
    $('#3mini').attr("src", "/media/" + data.pictures[2].url);
    $('#4mini').attr("src", "/media/" + data.pictures[3].url);
    $('#5mini').attr("src", "/media/" + data.pictures[4].url);
    $('#6mini').attr("src", "/media/" + data.pictures[5].url);
    $('#7mini').attr("src", "/media/" + data.pictures[6].url);
    $('#8mini').attr("src", "/media/" + data.pictures[7].url);
    document.getElementById('try-number').innerHTML = data.number_of_try;
  }

  $(".tic").click(function(){
    let id = $(this).attr("id");
    let e = document.getElementById(id);
    playerAction(e,id);
  });

  function skipGame() {
    skip_game = number_of_game;
    list_skip_game[counter_skip] = skip_game;
    counter_skip++;
    if ((skip_game === 4) && (list_skip_game[0] !== 4)) {
      number_of_game = list_skip_game[0];
      number_of_game -= 1;
    } else if ((skip_game === 4) && (list_skip_game[0] === 4)) {
      number_of_game -= 1;
    }
    nextGame();
  }

  function nextGame() {
    number_of_game++;
    number_of_try--;
    if (number_of_try === 0) {
        $.ajax({

                type: "GET",

                url: "/set_timer_for_mini_game/",

                cache: false,

                success: function(data){
                  miniGameNotReady(data);
                }
              });
    } else {
      if ((number_of_game <= 4) && (number_of_try !== 0)) {
        $.ajax({
          type: "GET",

          url: "/load_picture/",

          data: { 'number_of_game': number_of_game,
                  'number_of_try': number_of_try,
                  'skip_game': skip_game},

          cache: false,

          success: function(data){
            miniGame(data);
          }
        });
      }
    }
  }

  function next_game_after_first_loop() {
    number_of_game = skip_game;
    if (number_of_try === 0) {
        $.ajax({

                type: "GET",

                url: "/set_timer_for_mini_game/",

                cache: false,

                success: function(data){
                  miniGameNotReady(data);
                }
              });
    } else {
      if ((number_of_game <= 4) && (number_of_try !== 0)) {
        $.ajax({
          type: "GET",

          url: "/load_picture/",

          data: { 'number_of_game': number_of_game,
                  'number_of_try': number_of_try,
                  'skip_game': skip_game},

          cache: false,

          success: function(data){
            miniGame(data);
          }
        });
      }
    }
  }

  function playerAction(elem, id) {
    if ($(elem).hasClass("act")) {
      $(elem).removeClass("act");
      user_answer[counter] = '0';
      counter--;
    } else if (counter < 3) {
      $(elem).addClass("act");
      user_answer[counter] = parseInt(id,10);
      counter++;
    }
    if (counter === 3) {
      $.ajax({

        type: "GET",

        url: "/check_answer_for_game/",

        data: { 'user_answer1': user_answer[0],
                'user_answer2': user_answer[1],
                'user_answer3': user_answer[2]},

        dataType: 'json',

        cache: false,

        success: function (data) {
          if (data.bool) {
            $.ajax({

              type: "GET",

              url: "/check_points_for_game/",

              cache: false,

              success: function(data){
                document.getElementById('bonus').innerHTML = data.points;
                document.getElementById('bonus1').innerHTML = data.points;
                if ((number_of_game === 4) && (number_of_try !== 0) && (skip_game === 0)) {
                  $.ajax({

                    type: "GET",

                    url: "/set_timer_for_mini_game/",

                    cache: false,

                    success: function(data){
                      miniGameNotReady(data);
                    }
                  });
                }
                else if ((number_of_game === 4) && (number_of_try === 0) && (skip_game !== 0)) {
                  next_game_after_first_loop();
                }
                else {
                  nextGame();
                }
              }
            });
          } else {
            number_of_try--;
            if (number_of_try === 0) {
              $.ajax({

                type: "GET",

                url: "/set_timer_for_mini_game/",

                cache: false,

                success: function(data){
                  miniGameNotReady(data);
                }
              });
            } else {
              $.ajax({

                type: "GET",

                url: "/load_picture/",

                data: { 'number_of_game': number_of_game,
                        'number_of_try': number_of_try,
                        'skip_game': skip_game},

                cache: false,

                success: function(data){
                  miniGame(data);
                }
              });
            }
          }
        }
      });
    }
  }

  $(document).ready(function() {
    checkStageMiniGame();
    loadComments();
  });
  </script>

</script>
</html>

