{% extends "question.html" %}

	{% block endif %}
				
        {% if bool %}
		<strong class="primary">Правильно</strong>
		{% else %}
		<strong class="primary">ti daun</strong>
		{% endif %}
		<p><button class="nextbtn">Далее</button></p>
		
{% endblock %}

{% block script %}
<script> 

	$(".nextbtn").click(function () {

	        $.ajax({

            type: "GET",

            url: "next_question/",

            data: {'number_of_ticket': number_of_ticket,
        		  'number_of_question': number_of_question},
            
            cache: false,

            success: function(data){
            	console.log(data);
            	$('.result').html(data);
            	number_of_question++;
            }
       });
	});        

</script>
{% endblock %}