 	<div class="conteiner" style="width: 100%;">
 		<div class="row boxing">
 			<div class="col-xs-12 col-md-12 col-lg-6">
 				<div class="row">
					<img src="{{ obj.picture.url }}" class="imgquestion" />
				</div>
			</div>
 			<div class="col-xs-12 col-md-12 col-lg-6 text-left objquestion">
	 				<p>{%block header%}{{obj.question}}{%endblock%}</p>
	 			</div>

 			</div>
 			<div class="">
				{% block check %}
				<ul class="list-unstyled">
					<li>
						<button class="answbtn text-left btn btn-default" type="checkbox" id="answbtn1">{{obj.answer1}}</button>
					</li>
					<li>
						<button class="answbtn text-left btn btn-default" type="checkbox" id="answbtn2">{{obj.answer2}}</button>
					</li>
					{% if obj.answer3 %}
					<li>
						<button class="answbtn text-left btn btn-default" type="checkbox" id="answbtn3">{{obj.answer3}}</button>
					</li>
					{% endif %}

					{% if obj.answer4 %}
					<li>
						<button class="answbtn text-left btn btn-default" type="checkbox" id="answbtn4">{{obj.answer4}}</button>
					</li>
					{% endif %}

					{% if obj.answer5 %}
					<li>
						<button class="answbtn text-left btn btn-default" type="checkbox" id="answbtn5">{{obj.answer5}}</button>
					</li>
					{% endif %}
				</ul>
				{% endblock %}

				{% block endif %}

				{% endblock %}
			</div>
{% block script %}
<!--  <script type="text/javascript">
      var div1 = document.getElementById("btnquest3");
      $(div1).addClass('btn-success');
</script>  -->

<script>
	$(".answbtn").click(function () {
			var id = $(this).attr("id");
			var e = document.getElementById(id);
			var txt = e.textContent || e.innerText;

	        $.ajax({

            type: "GET",

            url: "check_answer/",

            data: {'number_of_ticket': number_of_ticket,
        		  'number_of_question': number_of_question,
        		  'answer_by_user': txt},
            
            cache: false,

            success: function(data){
            	console.log(data);
            	$('.result').html(data);
            }
       });
	});  
</script> 
{% endblock %}