{% extends "base.html" %}

{% block title %}Регистрация Знаток ПДД{% endblock %}

{% block register %}
    <div class="conteiner">
    {%  if user.is_active %}
        <p>You are already login</p>
        {% else %}
        <div class="conteiner">
			<div class="row">
			<form>
				<div class="col-md-6 col-md-offset-2">
                    <h3>Пожалуйста, зарегестрируйтесь</h3>

			<div class="form-table">
				<label for="inputLogin" class="ccontrol-label">Логин</label>
				<div class="">
					<input type="login" class="form-control" id="inputLogin" placeholder="Введите логин">
				</div>
			</div>
			<div class="form-group">
				<label for="inputEmail" class="control-label">Email:</label>
				<div class="">
					<input type="Email" class="form-control" id="inputEmail" placeholder="Введите email">
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword1" class="control-label">Пароль:</label>
				<div class="">
					<input type="password1" class="form-control" id="inputPassword1" placeholder="Введите пароль">
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword2" class="control-label">Повторите:</label>
				<div class="">
					<input type="password2" class="form-control" id="inputPassword2" placeholder="Подтвердите пароль">
				</div>
			</div>
			<a class="btn btn-success" href="">Зарегестрируйтесь</a>
		</form>
	</div>
	</div>
</div>
    {% endif %}
    </div>
{% endblock %}